.content {
    padding-left: 40px;
    padding-right: 40px;
}

.post-title {
    font-size: 20pt;
}

.post-title a {
    color: black;
    font-size: 20pt;
}

.post-writer-date {
    opacity: 0.7;
}

.post-text {
    font-size: 15pt;
}

.post-writer-date-detail {
    font-size: 15pt;
    opacity: 0.7;
}

.post-text-detail {
    font-size: 15pt;
}

.post-edit-detail {
    text-align: right;
}

.post-edit-detail a {
    color: black;
    opacity: 0.7;
}